  body {
    overflow: hidden;
  }

  .contenu {
    position: absolute;
    display: inline-block;
    bottom: 1em;
    vertical-align: baseline;
  }

  .contenu h1 {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    line-height: 0.72;
    font-size: var(--fx-xl);
    color: var(--text);
  }

  /*work*/
  .liste-travaux {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
  }

  .liste-travaux .travail {
    margin: 0 1.5rem 0 0;
  }

  .liste-travaux a {
    text-decoration: none;
    color: var(--secondary);
    /* revoir les couleur et la dispositions des liens */
  }

  .liste-travaux a:hover {
    text-decoration: none;
    color: var(--accent);
  }


  /* tag pour work */
  .filtrers_card {
    position: absolute;
    width: 100%;
    bottom: 1em;
    right: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .div1 {
    grid-area: 1 / 4 / 2 / 5;
  }

  .div2 {
    grid-area: 1 / 5 / 2 / 6;
  }

  .div3 {
    grid-area: 2 / 4 / 3 / 5;
  }

  .div4 {
    grid-area: 2 / 5 / 3 / 6;
  }

  .div5 {
    grid-area: 3 / 4 / 4 / 5;
  }

  .div6 {
    grid-area: 3 / 5 / 4 / 6;
  }


  .filtre {
    border: solid 1px var(--primary);
    border-radius: 20px;
    text-align: center;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: background-color 0.3s, color 0.3s;
  }

  .filtre h5 {
    margin: 0;
    padding: .1em 0;
  }

  /* selection */
  .filtre:hover {
    background-color: var(--secondary);
  }

  .filtre.active {
    background-color: var(--primary);
    color: var(--background);
  }

  .filtres_mobile {
    display: none;
    z-index: 2;
  }

  /* responsive tablet et mobile*/
  @media (max-width: 750px) {

    .liste-travaux {
      position: fixed;
      height: 80%;
      overflow-y: scroll;
      /* scroll vertical uniquement */
      right: 1em;
      left: 1em;

    }

    .liste-travaux::before {
      content: "";
      position: fixed;
      top: 78.7%;
      left: 0;
      width: 100%;
      height: 4%;
      /* Dégradé linéaire pour le fondu d'opacité */
      background: linear-gradient(transparent, var(--background));

    }

    .liste-travaux .travail {
      width: 100%;
    }

    .liste-travaux h4 {
      font-size: 2rem;
      /* typo plus petite pour tel */
    }

    .contenu {
      position: fixed;
    }

    .filtrers_card {
      display: none;
    }

    /* etat avant des categorie poir animation */
    .filtrers_card {
      display: flex;
      flex-direction: column;
      height: 100%;
      color: #efebeb;
      justify-content: center;
      align-items: center;

      z-index: 2;
      opacity: 0%;
    }

    .filtre {
      border: none;
    }

    body:not(.active) .liste-travaux {
      pointer-events: auto;
      z-index: 3;
    }

    /*Croix*/
    .filtres_mobile {
      display: block;
      position: absolute;
      bottom: 1em;
      right: 1em;
      z-index: 2;
    }

    label {
      display: flex;
      flex-direction: column;
      width: 10vw;
      cursor: pointer;
    }

    label span {
      background: var(--text);
      border-radius: 0%;
      height: 1vw;
      margin: 1vw 0;
      transition: 0.3s ease-in-out;
    }

    span:nth-of-type(1) {
      width: 50%;
      height: 4px;

    }

    span:nth-of-type(2) {
      width: 100%;
      height: 4px;
    }

    span:nth-of-type(3) {
      width: 75%;
      height: 4px;

    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked~span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(1vw, 0px)
    }

    input[type="checkbox"]:checked~span:nth-of-type(2) {

      transform-origin: top;
      transform: rotatez(-45deg)
    }

    input[type="checkbox"]:checked~span:nth-of-type(3) {

      transform-origin: bottom;
      width: 50%;
      transform: translate(4vw, -1.8vw) rotatez(45deg);
      /* j'ai utiliser le outils inspecter sur chrome pour trouver la bonne valeur responsive en vw */

    }


    /* consequence */
    /* apparence croix */
    body.active label span {
      background: #efebeb;
    }

    .contenu,
    .liste-travaux,
    .filtrers_card {
      transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    /* fond blur */
    body.active .contenu,
    body.active .liste-travaux {
      filter: blur(3.5px);
    }

    body.active::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }

    /* visualisation des tag mis en opacité de 0 */
    body.active .filtrers_card {
      opacity: 100%;
    }

    body.active .filtre {
      padding: 0.1em 1.5em;
    }

    body.active .filtre.active {
      background-color: var(--text);
    }

    /* eviter de cliquer sur les project dans ce menu */
    body.active .contenu,
    body.active .liste-travaux {
      pointer-events: none;
    }


  }