  body{
    overflow: hidden;
  }
  .contenu{
    position: absolute;
    display: inline-block;
    bottom: 15px;
    vertical-align: baseline;
  }
  .contenu h1 {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    line-height: 0.3  ;
    font-size: 15vw;
  }
  
   /*work*/
   .liste-travaux {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
  }
  .liste-travaux .travail {
    margin: 0 1.5rem 0 0;
  }
  
  .liste-travaux a {
    text-decoration: none;
    color: var(--secondary);
    /* revoir les couleur et la dispositions des liens */
  }
  .liste-travaux  a:hover {
    text-decoration: none;
    color: var(--accent);
  }
  
  
  /* tag pour work */
  .filtrers_card {
    position: absolute;
    width: 100%;
    bottom: 15px;
    right: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .div1 { grid-area: 1 / 4 / 2 / 5; }
  .div2 { grid-area: 1 / 5 / 2 / 6; }
  .div3 { grid-area: 2 / 4 / 3 / 5; }
  .div4 { grid-area: 2 / 5 / 3 / 6; }
  .div5 { grid-area: 3 / 4 / 4 / 5; }
  .div6 { grid-area: 3 / 5 / 4 / 6; }
  
  
  .filtre {
    border: solid 1px var(--primary);
    border-radius: 20px;
    text-align: center;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .filtre h5{
    margin: 0;
    padding-top: 10px;
  }
  /* selection */
  .filtre:hover {
    background-color: var(--secondary);
  }
  .filtre.active {
    background-color: var(--primary);
    color: var(--background);
  }
  
  /* responsive tablet et mobile*/
  @media (max-width: 750px) {
  
    .liste-travaux{
      position: fixed;
      height: 80%;
      overflow-y: scroll;
      /* scroll vertical uniquement */
      right: 15px;
      left: 15px;
      /* background-color: blue; */
    }
    .liste-travaux::before {
      content: "";
      position: fixed;
      top: 78.7%;
      left: 0;
      width: 100%;
      height: 4%;
      /* Dégradé linéaire pour le fondu d'opacité */
      background: linear-gradient(transparent, var(--background) );
    
    }
    .liste-travaux .travail {
     width: 100%;
    }
    .liste-travaux h4 {
      font-size: 2rem;
      /* typo plus petite pour tel */
    }
    .contenu{
      position: fixed;
    }
    .filtrers_card {
      display: none;
    }

  }
  