/* type scale */
*{
  box-sizing: border-box;
}
html {
  font-size: 100%;
  margin: 0;
  padding: 0;} /*16px*/


body {
  background: #dcd6c6;
  font-family: 'Founders Grotesk', sans-serif;
  font-weight: normal;
  line-height: 1.75;
  color: #231e20;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Founders Grotesk', sans-serif;
  font-weight: normal;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 11.089rem;
}

h2 {font-size: 6.854rem;}

h3 {font-size: 4.236rem;}

h4 {font-size: 2.618rem;}

h5 {font-size: 1.618rem;}

small, .text_small {font-size: 0.618rem;}


/* le css de la page */
/* header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 15px;
  text-decoration: none;
  
}
nav a{
  text-decoration: none;
  color: #231e20;}
nav .logo {
  width: 50px;
  height: 50px;
  background-image: url(/images/main/logo.png);
  background-size: cover;
}
@media (max-width: 750px) {
  nav .titrepages {
      display: none;
  }
}
@media (max-width: 374px) {
  nav{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-decoration: none;
  }

  nav .logo {
      display: none;
  }
}

/* titre portfolio en bas a gauche */
.contenu{
  position: absolute;
  display: inline-block;
  bottom: 15px;
  left: 15px;
  vertical-align: baseline;
}
.contenu h1 {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  line-height: 0.3  ;
  font-size: 15vw;
}


 /*work*/
 .liste-travaux {
  display: flex;
  justify-content: flex-start;
  margin: 0 15px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.liste-travaux .travail {
  margin: 0 30px 0 0;
}
/* attention separateur desactivé pour le momment */
.liste-travaux .separateur {
  /* margin: 0 10px 0 5px;  */
  color: #cbc5b7;
}
.liste-travaux a {
  text-decoration: none;
  color:rgba(35, 30, 32, 0.5);
  /* revoir les couleur et la dispositions des liens */
}
.liste-travaux  a:hover {
  text-decoration: none;
  color: #231e20;
}


/* filtre work */
.filtrers_card {
  position: absolute;
  width: 100%;
  bottom: 15px;
  right: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.div1 { grid-area: 1 / 4 / 2 / 5; }
.div2 { grid-area: 1 / 5 / 2 / 6; }
.div3 { grid-area: 2 / 4 / 3 / 5; }
.div4 { grid-area: 2 / 5 / 3 / 6; }
.div5 { grid-area: 3 / 4 / 4 / 5; }
.div6 { grid-area: 3 / 5 / 4 / 6; }


.filtre {
  border: solid 1px #231e20;
  border-radius: 20px;
  text-align: center;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: background-color 0.3s, color 0.3s;
}

.filtre h5{
  margin: 0;
  padding-top: 10px;
}
/* selection */
.filtre:hover {
  background-color: rgba(35, 30, 32, 0.5);
}
.filtre.active {
  background-color: #231e20;
  color: #dcd6c6;
}
/* correction ul */
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

