/* Grid setup for the cover section */
.cover {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    height: 100vh;
    padding-top: 15px;
}

.titre {
    grid-area: 1 / 1 / 2 / 4;
}

.menu {
    grid-area: 1 / 5 / 2 / 6;
}

.image {
    grid-area: 2 / 4 / 4 / 6;
    background-color: rgba(0, 0, 0, 0);
}

.colab {
    grid-area: 3 / 1 / 4 / 2;
}
/* fin grille */

/* couleur liens */
.titre,.menu,.colab,li a {
    color: var(--text);
}
.colab,span a {
    color: var(--text);
}

/* interieur grille */
.titre {
    font-size: 5.5vw;
    /* voir app.js pour scaling */
    position: fixed;
    white-space: nowrap;
    vertical-align: top;
    line-height: 0.78;
    z-index: 2;
   
} 

.menu .liste {
    text-decoration: none;
    list-style: none;
    display: flex;
    /* background-color: green; */
    flex-direction: row;
    justify-content: space-between;
}


.image {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}


.colab {
    font-size: var(--fs-400);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 15px;
    z-index: 2;
}

/* espacementligne de flotaison */
.below-fold {
    position: relative;
    min-height: 100vh;
    padding: 30% 15px 0 45%;
    /* border: 5px solid blue; */
}

/* Styling for the image gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-row-gap: 40px;
    justify-content: flex-end;
    /* border: 2px solid #0088ff; */
    margin-bottom: 50px;
}

/* CSS for the gallery image container */
.image-container {
    position: relative;
}

/* CSS for the gallery image */
.gallery-image {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    object-fit: cover;
}

/* CSS for the image title */
.image-title {
    font-size: var(--fs-400);
    text-align: center;
    color: var(--text); /* Set the color of the title */
    position: absolute; /* Positionne le titre par rapport au conteneur parent */
    bottom: -25px; /* Place le titre en bas du conteneur parent */
}




/* sur mobile */

@media (max-width: 750px) {

.cover {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    height: 100vh;
    padding-top: 15px;
}

.titre {
    position:relative;
    white-space: nowrap;
    vertical-align: top;
    line-height: 0.78;
    font-size: 2.68rem!IMPORTANT;
}

.below-fold {
    position: relative;
    min-height: 100vh;
    padding: 30% 5% 5%;
    /* border: 5px solid blue; */
}

.gallery {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 15px;
    grid-row-gap: 40px;
    justify-content: flex-end;
    /* border: 2px solid #0088ff; */
    margin-bottom: 50px;
    flex-direction: column;
}

}