
@media (max-width: 750px) {

    .titre {
        position: relative;
        white-space: nowrap;
        vertical-align: top;
        line-height: 0.78;
        font-size: var(--fs-700) !important;
    }

}